.container {
  padding: 50px;
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 1000px;
  border: 10px solid red;
  background-color: dodgerblue;
  min-height: 452px;
}

.header,
.count,
.content {
  font-size: 50px;
}

.count,
.content {
  color: white;
}

.block {
  display: flex;
  justify-content: space-between;
}

.setting {
  background-color: dodgerblue;
  font-size: 30px;
  color: yellow;
  border: 0;
  outline: none;
}

.bottom,
.header,
.count,
.setting,
.button {
  margin-bottom: 20px;
}

.button {
  background-color: violet;
  border: 0;
  outline: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.content {
  text-align: center;
}
