.subTitle {
  font-size: 30px;
  color: yellow;
  margin-bottom: 20px;
}

.cursorPointer {
  cursor: pointer;
}

.marginBottom {
  margin-bottom: 20px;
}

.button {
  background: violet;
  border: 0;
  outline: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
  padding: 5px;
  border-radius: 5px;
}

.button:disabled {
  background: blue;
}

.stepInput {
  max-width: 85px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
  min-height: 33px;
}

.autoClickInput {
  max-width: 115px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
  min-height: 33px;
}
